h1{
    font-size:xx-large;
    text-align: center;
    
    background-color: aquamarine;
    
}
#img
{
    text-align: center;
}
body{
    background-color:blanchedalmond;
}
#p{
    padding: 20px;
    background-color:red;
}
#main
{
    column-count: 3;
    padding: 20px;
    column-gap: 40px;
    
}
#div2
{
    width:300px;
    height:auto;
    background-color: coral;
    padding: 20px;
}
#div3
{
    width:300px;
    height:auto;
    background-color: coral;
    padding: 20px;
    
}
#div4
{
    width:300px;
    height:auto;
    background-color: coral;
    padding: 20px;
}
